@import "open-props/normalize";

:root {
  --bg: var(--teal-0);
  --tx: var(--teal-12);
  --sf1: var(--teal-1);
  --sf2: var(--teal-2);
  --dv: calc(100dvmin + calc(calc(100dvmax - 100dvmin) / 2));
  --dvh: 100dvh;
  --dvw: 100dvmin;

  @media(prefers-color-scheme:dark) {
    --bg: var(--teal-12);
    --tx: var(--teal-0);
    --sf1: var(--teal-10);
    --sf2: var(--teal-11);
  }

  @media(orientation:landscape) {
    --dvh: 100dvmin;
    --dvw: var(--dv);
  }
}

* {
  transition: all 0.4s ease-out;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  font-family: var(--font-rounded-sans);
}

main {
  height: var(--dvh);
  width: var(--dvw);
  padding: 5dvmin;

  @media(orientation:portrait) {
    overflow: scroll;
  }

  @media(orientation:landscape) {
    display: flex;
  }
}

a {
  position: relative;
  display: block;
  width: 90dvmin;
  aspect-ratio: 3/2;
  padding: 5dvmin;
  overflow: hidden;
  border-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-3);
  box-shadow: var(--inner-shadow-1);
  background: linear-gradient(to bottom right, var(--sf2), var(--sf1));
  color: var(--tx);
  opacity: 0.9;
  font-weight: 300;
  letter-spacing: var(--font-letterspacing-2);

  &:hover {
    text-decoration: none;
    filter: saturate(2);
  }
}

button {
  position: absolute;
  bottom: var(--size-3);
  right: var(--size-3);
  border: calc(var(--size-1) / 2) solid var(--sf1);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  background: var(--bg);
  font-weight: 600;

  &:active {
    transform: scale(0.9);
    filter: brightness(2);
  }
}

#noteList {
  height: calc(var(--dv) - 100dvmin);

  @media(orientation:landscape) {
    height: 90dvmin;
    overflow: scroll;
  }

  a {
    margin-top: 5dvmin;
    aspect-ratio: 3/1;
    background: linear-gradient(to bottom right, var(--sf1), var(--sf2));
    box-shadow: var(--shadow-1);

    p {
      height: 100%;
      width: 100%;
      overflow: hidden;
      font-size: var(--font-size-1);
    }

    button {
      border-color: var(--sf2);
    }

    @media(orientation:landscape) {
      margin-top: 0;
      margin-left: 5dvmin;
      margin-bottom: 5dvmin;
      width: calc(var(--dv) - 105dvh);
    }
  }
}

dialog[open] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  margin: auto;
  padding: 0;
  overflow: hidden;
  border: none;
  border-radius: 0%;
  border-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-3);
  box-shadow: none;
  box-shadow: var(--shadow-1);

  textarea {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: var(--size-3);
    outline: none;
    border-radius: 0%;
    font-family: var(--font-antique);
    letter-spacing: var(--font-letterspacing-2);
  }
}

strong {
  font-weight: 600;
}